pip>=22.0  # atualiza pip para a versão mais recente
accelerate
torch>=1.12.1
torchvision>=0.14.0
torchaudio>=0.12.1
datasets>=2.4.0
transformers>=4.24.0
datasets[audio]
pyannote.audio
scipy
ffmpeg-python
ffmpeg
speechrecognition
soundfile
pydub
openai-whisper
numpy<=1.26.4
matplotlib
hmmlearn
simplejson
eyed3
modelscope
huggingface
huggingface_hub
funasr>=1.1.2
gradio
gitpython
huggingface_hub
peft
librosa
